/* Ana Pandey */

/* body */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color:#FFFFFF;
    color:#999999;
    }

h1, h2, h3, h4, h5, h6 {
     font-family: Arial, Helvetica, sans-serif;
    color:#999999;
 }
h1 {
   font-size:300%; 
    color:#FFF;
}
li {
    list-style: none;   
}
header {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color:#FFF;
    box-sizing: border-box;
}

header ul {
    box-sizing: border-box;
    display:block;
    margin:0px;
    background-color:#FFF;
    
}
 
header ul a {
    text-decoration: none;
    color:#FFF;
    padding:12px 35px; 
    float:left;
    margin-right:5px;
    box-shadow:2px 1px 2px grey;
}
#about-button {
    background-color:#546e7a;
    
}
#skill-button {
    background-color:#49a7cc;
}
#work-button {
    background-color:#819ca9;
}
main {
    box-sizing: border-box;
    padding-top:10px;
    padding-bottom:80px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
section {
    box-sizing: border-box;
    background-color: #546e7a;
    color: #FFF;
    padding: 80px 0px;
    margin: 40px;
    text-align: center;
    box-shadow:3px 2px 10px #999999;
}

section img {
    margin-top: 58px;
    border: 5px solid #FFF;
    float: right;
    border-radius: 200px 0px 0px;
    box-shadow:1px 1px 1px #FFF;
}
 main section div {
    
    margin-left:auto;
     margin-right:auto;
    width:33.33%;
    float:left; 
}
main section div h4 {
    color:#819ca9;
    text-align: center;
}
main section div ul {
    padding:40px 40px;
    background-color:#49a7cc; 
    margin:0px 25px -57px 25px;
    text-align: center;
    box-shadow:1px 4px 3px #999999;
    line-height:1.4;
}
#skill {
    padding:120px 0px 320px 0px;
    box-shadow:1px 3px 3px grey;
}
section figure img {
     margin: 0px;     
    border: none;
    float:none;
    border-radius: 0px;
     background-color:#819ca9;
     box-shadow:1px 3px 4px #666666;
 }

figure {
    text-align: center;
    
}

button {
    margin-top:80px;
}

footer {
    box-shadow:3px 2px 5px grey;
    background-color:#819ca9;
     width:100%;
    margin-left:auto;
    margin-right:auto;
    padding:5px 0px;
}
#push {
  height:50px;  
}
main div {
  width:70%;
    padding-top:20px;
    margin-left:auto;
    margin-right:auto;
    font-size:90%;
}










/*
i {
   font-size:400%; 
    color:#CC3333;
}
li {
    list-style: none;
}
/* header 
header {
    width:40%;
    margin:auto;
    margin-top:0px;
    padding:5px;
    border-bottom: 1px solid  #CCCCCC;
}
header ul {
    display:block;
    text-align: center;
}
header ul li {
    display:inline-block;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color:#666666;
    padding:8px 20px;
    
}
header ul li a:hover,
header ul li a:active {
  background-color:#FFCC66;  
  color:#FFF;
}
 
/* main 

main {
   width:80%;
    padding-top:100px;
    margin-left:auto;
    margin-right:auto;
    
}
main section {
    width:98%;    
    margin-left:auto;
    margin-right:auto;
    
}

main section article {
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    float:left;
    text-align: justify;
    color:#666666;
}
main section article:last-child {
    margin-top:10px;
    padding:60px 50px;
    
}
main section div {
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    width:33.33%;
    float:left;
    text-align: justify;
   
    
}
main section div h4 {
    color:#FFF;
    text-align: center;
}
main section div ul {
    padding:40px 50px;
    background-color:#FF9900;
    
    margin:5px 25px;
    text-align: center;
    box-shadow:2px 2px 2px grey;
}
main section article h1 {
    font-size:220%;
    color:#FFF;
}
main section article button {
    color:#FFF;
    background-color:#FF9900;
    border:none;
    padding:2px 5px;
}
main section article button:hover {
    box-shadow:2px 2px 2px grey;
}

.white {
    
    
    width:100%;
}



*/














