/* Ana Pandey */
/* body */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: #f7fafc;
    color: #999999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
}
h1 {
    font-size: 300%;
    color: #FFF;
}
li {
    list-style: none;
}
/*header*/

header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    box-sizing: border-box;
}
header ul {
    box-sizing: border-box;
    display: block;
    margin: 0px;
    background-color: #FFF;
}
header ul a {
    text-decoration: none;
    color: #FFF;
    padding: 12px 35px;
    float: left;
    margin-right: 5px;
    box-shadow: 2px 1px 2px grey;
}
#about-button {
    background-color: #546e7a;
}
#skill-button {
    background-color: #49a7cc;
}
#work-button {
    background-color: #819ca9;
}
/*footer*/

footer {
    box-shadow: 3px 2px 5px grey;
    background-color: #819ca9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
}
/*main */

main {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
section {
    box-sizing: border-box;
    background-color: #546e7a;
    color: #FFF;
    padding: 80px 0px;
    margin: 40px;
    text-align: center;
    box-shadow: 3px 2px 10px #999999;
}
main div {
    width: 70%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 90%;
}
section p {
    margin-top: -7px;
}
section img {
    margin-top: 58px;
    border: 5px solid #FFF;
    float: right;
    border-radius: 200px 0px 0px;
    box-shadow: 1px 1px 1px #FFF;
}
main section div {
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;
    float: left;
}
main section div h4 {
    color: #819ca9;
    text-align: center;
}
main section div ul {
    padding: 40px 40px;
    background-color: #49a7cc;
    margin: 0px 25px -57px 25px;
    text-align: center;
    box-shadow: 1px 4px 3px #999999;
    line-height: 1.4;
}
#push {
    height: 50px;
}
/*skill page*/

#skill {
    padding: 80px 0px 280px 0px;
    box-shadow: 1px 3px 3px grey;
}
section figure img {
    margin: 0px;
    border: none;
    float: none;
    border-radius: 0px;
    background-color: #819ca9;
    box-shadow: 1px 3px 4px #666666;
}
figcaption {
    text-align: left;
}
figure {
    text-align: center;
}
button {
    margin-top: 80px;
}
/*work page*/

.showcase img {
    width: 270px;
    box-shadow: none;
}
#work {
    padding: 0px 50px 360px 0px;
    background-color: #f7fafc;
    box-shadow: none;
}
#work figure {
    background-color: #FFF;
    padding: 0px;
    margin: 0px;
    width: 270px;
    border: 12px solid #FFF;
    box-shadow: 1px 1px 2px #666666;
}
#work a {
    text-decoration: none;
    color: #3399ff;
    font-size: 100%;
}
#work a:last-of-type {
    text-decoration: none;
    color: #999999;
    font-size: 90%;
}
/* -----------------media queries for smaller devices ---------------------------- */

@media only screen and (min-width: 100px) and (max-width: 700px) {
    body {
        padding: 0px;
        background-color: #546e7a;
        font-size: 150%;
    }
    /*header*/
    
    header {
        width: 100%;
    }
    header ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    header ul a {
        display: block;
        float: none;
        margin: 0px;
        box-shadow: none;
    }
    /*footer*/
    
    footer {
        width: 100%;
        position: fixed;
        bottom: 0px;
        padding: 0px;
    }
    /*main*/
    
    main {
        box-sizing: border-box;
        width: 100%;
        color: #FFF;
        height: auto;
        margin-bottom: 100px;
    }
    section {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
        box-shadow: none;
        text-align: center;
    }
    section img,
    h1,
    section p {
        display: none;
    }
    #skill,
    #work {
        padding: 0px;
        box-shadow: none;
        height: auto;
        width: 100%;
    }
    section figure img {
        max-width: 50%;
        height: auto;
        display: inline-block;
    }
    figcaption {
        text-align: center;
    }
    main section div {
        width: 100%;
    }
    main section div ul {
        margin-bottom: 80px;
        background-color: #546e7a;
        box-shadow: none;
    }
    /*work page */
    
    .showcase img {
        max-width: 100%;
        height: auto;
        box-shadow: none;
        border: 3px solid white;
    }
    #work {
        padding: 0px;
        background-color: #546e7a;
        box-shadow: none;
    }
    #work figure {
        background-color: #546e7a;
        text-align: center;
        padding: 0px;
        margin-bottom: 110px;
        width: 100%;
        border: none;
        box-shadow: none;
    }
    #about-button,
    #skill-button,
    #work-button {
        background-color: #819ca9;
    }
}
/* -----------------media queries for medium devices ---------------------------- */

@media only screen and (min-width: 700px) and (max-width: 1150px) {
    main {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
    header {
        width: 100%;
    }
    footer {
        position: fixed;
        width: 100%;
        bottom: -5px;
    }
    #work {
        box-sizing: border-box;
        width: 100%;
    }
    #work figure {
        box-sizing: border-box;
        width: 90%;
    }
    #work figure img {
        box-sizing: border-box;
        width: 90%;
    }
    #skill {
        text-align: center;
    }
    #skill div ul {
        width: 60%;
    }
}